extends ../_template
block variables
  - var title = 'Personal'
block content
  .wrapper
    include ../blocks/header
    include ../blocks/main        
    include ../blocks/footer     
    .overlay__left
    .overlay__right
    include ../blocks/feedback
    include ../blocks/rating
    
    
  
     


       
    

