extends ../_template
block variables
  - var title = 'Каталог'
block content
  .wrapper.page
    .page__header    
      include ../blocks/header
    main.page__main      
        +nav('menu','main', pages, 1)
        include ../blocks/slider
        include ../blocks/breadcrumbs
        include ../blocks/content        
    .page__footer
      include ../blocks/footer
    include ../blocks/feedback
    
  
     


       
    

