//- Список навигации
- 
  var pages = [
    {
      link: '#',
      title: 'Главная' 
    },{
      link: '#',
      title: 'Каталог' 
    },{
      link: '#',
      title: 'Доставка и оплата' 
    },{
      link: '#',
      title: 'Прайс-лист' 
    },{
      link: '#',
      title: 'Контакты' 
    }
  ]

