.catalog {
    width: 100%;
    @include phones {
        z-index: 1;
        position: sticky;
        top: rem(20px);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: rgba(0, 0, 0, .8) 4px 4px 8px 2px;
    }
}

.catalog__list {
    @include phones {
        padding: rem(20px);
        background-color: $grey;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.catalog__item {
    .catalog__subitem {
        font-size: 0;
        transition: .3s;
        margin: 0;
    }
    &.catalog__item_active {
        .catalog__link {
            text-decoration: underline;
        }
        .catalog__subitem {
            font-size: rem(14px);
            margin-bottom: rem(5px);
            transition: .5s;
        }
    }
    @include phones {
        color: #fff;
    }
}

.catalog__link {
    font-size: rem(18px);
    margin-bottom: rem(10px);
    &:hover {
        text-decoration: underline;
    }
}

.catalog__sublist {
    list-style: disc;
    padding-left: rem(20px);
}

.catalog__subitem {
    margin-bottom: rem(3px);
    &.catalog__subitem_active {
        .catalog__sublink {
            text-decoration: underline;
            color: #010101;
            @include phones {
                color: #fff;
            }
        }
    }
}

.catalog__sublink {
    &:hover {
        text-decoration: underline;
    }
}

.catalog__tab {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(-25px);
    width: rem(60px);
    height: rem(60px);
    background-color: $grey;
    border-radius: 50%;
    display: none;
    box-shadow: rgba(0, 0, 0, .6) 2px 2px 5px 2px;
    @include phones {
        display: block;
        z-index: -1;
    }
}

.catalog__tab-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 40%;
    transform: translateY(-50%) rotate(-90deg);
    transition: .3s;
    &:hover {
        width: 45%;
    }
    &.catalog__tab-img_active {
        transform: translateY(-50%) rotate(90deg);
        right: 8%;
    }
}