.footer {
    width: 100%;
    background-color: #fff;
    padding: rem(15px) 0;
    border-top: 3px solid #103376;
    position: relative;
    z-index: 1; 
}



.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__item {
   width:rem(80px);
   margin-right: rem(15px);
   &:last-child {
       margin-right: 0;
   }
}
.footer__logo {
    width: 100%;
}
.footer__img {
    width: 100%;
}