.header {
    width: 100%;
    background: -webkit-linear-gradient(0deg, #0c2a63 0%, #11367d 100%);
    background: -moz-linear-gradient(0deg, #0c2a63 0%, #11367d 100%);
    background: -o-linear-gradient(0deg, #0c2a63 0%, #11367d 100%);
    background: -ms-linear-gradient(0deg, #0c2a63 0%, #11367d 100%);
    background: linear-gradient(90deg, #0c2a63 0%, #11367d 100%);
    color: #fff;
    padding: rem(10px) 0;
}

.header__logo {
    max-width: rem(200px);
    max-height: rem(50px);
    @include center;
    margin-right: rem(30px);
    flex-shrink: 0;
}

.header__logo-img {
    max-width: 100%;
    max-height: 100%;
}

.header__list {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin-right: rem(20px);
}

.header__item {
    margin-right: rem(10px);
    font-size: rem(20px); // white-space: nowrap;
    &:last-child {
        margin-right: 0;
    }
}

.header__link {    
    white-space: nowrap;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: 0%;
        right: 0%;
        height: rem(2px);
        background-color: #fff;
        transition: .5s;
        display: block;
        z-index: 1;
    }
    &:hover {
        &:after {
            left: 100%;
            right: 100%;
        }
    }
}

.header__pers {
    display: flex;
    align-items: center;
}

.header__user {
    display: flex;
    margin-right: rem(30px);
    align-items: center;
    font-size: rem(14px);
}

.header__user-pic {
    max-width: rem(50px);
    max-height: rem(50px);
    margin-right: rem(15px);
}

.header__score {
    margin-right: rem(30px);
    font-size: rem(14px);
    @include RobotoRegular;
}
.header__exit {
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}