.main {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.content {
    flex-grow: 1;
}

.stage {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: rem(50px);
    left: rem(50px);
    z-index: 3; // width: 90%;
    margin-bottom: rem(20px);
    @include phones {
        right: rem(20px);
        left: rem(20px); 
    }
}

.stage__phase {
    width: 100%;
    font-size: rem(38px);
    color: #888888;
    display: flex;
    &:last-child {
        width: 20%;
    }
    &.stage__phase-complete {
        color: #fff;
        .stage__phase-round {
            background: -webkit-linear-gradient(27deg, #2ebe00 3%, #29ad00 97%);
            background: -moz-linear-gradient(27deg, #2ebe00 3%, #29ad00 97%);
            background: -o-linear-gradient(27deg, #2ebe00 3%, #29ad00 97%);
            background: -ms-linear-gradient(27deg, #2ebe00 3%, #29ad00 97%);
            background: linear-gradient(63deg, #2ebe00 3%, #29ad00 97%);
            border: rem(2px) solid #00da5a;
        }
        .points__item {
            background-color: #2ebe00;
            border: rem(2px) solid #00da5a;
        }
    }
    &.stage__phase-active {
        flex-shrink: .92;
        .stage__phase-round {
            @include circle(rem(110px),
            #fff);
            @include BebasBold;
            color: #0c2d6a;
            background: #0d2d68;
            position: relative;
            &:after {
                content: "1/16";
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%, -50%);
                @include BebasBold;
            }
        }
    }
    @include tablets {
        font-size: rem(28px);
        .stage__phase-round {
            @include circle(rem(46px),
            #fff);
        }
        &.stage__phase-active {
            .stage__phase-round {
                @include circle(rem(86px),
                #0d2d68);
                background: #0d2d68;
            }
        }
    }
    @include phones {
        font-size: rem(22px);
        .stage__phase-round {
            @include circle(rem(36px),
            #fff);
        }
        &.stage__phase-active {
            .stage__phase-round {
                @include circle(rem(66px),
                #0d2d68);
                background: #0d2d68;
            }
        }
    }
}

.stage__phase-round {
    @include BebasBook;
    @include center;
    @include circle(rem(66px),
    #fff);
    background: -webkit-linear-gradient(27deg, #f2f2f2 3%, #d4d4d4 97%);
    background: -moz-linear-gradient(27deg, #f2f2f2 3%, #d4d4d4 97%);
    background: -o-linear-gradient(27deg, #f2f2f2 3%, #d4d4d4 97%);
    background: -ms-linear-gradient(27deg, #f2f2f2 3%, #d4d4d4 97%);
    background: linear-gradient(63deg, #f2f2f2 3%, #d4d4d4 97%);
    position: relative;
    flex-shrink: 0;
}

.stage__phase-ball {
    position: absolute;
    top: 4%;
    left: 4%;
    // transform: translate(-50%, -50%);
    width: rem(100px);
    height: rem(100px);
    -webkit-animation: rotate 12s ease-out infinite;
    -moz-animation: rotate 12s ease-out infinite;
    animation: rotate 12s ease-out infinite;
    animation-delay: 4s;
    @include tablets {
        width: rem(80px);
        height: rem(80px);
    }
    @include phones {
        width: rem(60px);
        height: rem(60px);
    }
}

.points {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    @include tablets {
        .points__item {
            @include circle(rem(6px),
            #b2b2b2);
        }
    }
    @include phones {
        .points__item {
            @include circle(rem(4px),
            #b2b2b2);
        }
    }
}

.points__item {
    @include circle(rem(10px),
    #b2b2b2);
}

.stage__phase-cup {
    width: rem(92px);
    // height: rem(134px);
    position: absolute;
    bottom: rem(20px);
    left: rem(-10px);
    @include tablets {
        width: rem(70px);
        bottom: rem(15px);
    }
    @include phones {
        width: rem(60px);
        bottom: rem(10px);
    }
}
.stage__phase-cup-img {
    width: 100%;
    // max-height: 100%;
}