.menu {
    .menu__item {
        .menu__link {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 51%;
                right: 51%;
                background-color: #fff;
                transition: .3s;
                display: block;
            }
            &:hover {
                &:after {
                    left: 0;
                    right: 0;
                }
            }
        }
        &.menu__item_active {
            .menu__link {
                &:after {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    &.menu_main {
        width: 100%;
        padding: rem(20px) 0;
        background-color: $grey;
        .menu__list {
            margin: 0 auto;
            width: 95%;
            max-width: rem(980px);
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablets {
                flex-direction: column;
            }
            .menu__item {
                display: flex;
                align-items: center;
                font-size: rem(30px);
                color: #fff;
                &:after {
                    content: '|';
                    margin: 0 rem(20px);
                }
                &:last-child {
                    &:after {
                        content: '';
                        margin: 0;
                    }
                }
                .menu__link {
                    &:after {
                        content: '';
                        height: 2px;
                    }
                }
                @include laptop {
                    font-size: rem(28px);
                    &:after {
                        margin: 0 rem(10px);
                    }
                }
                @include tablets {
                    margin-bottom: rem(20px);
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &:after {
                        content: '';
                        margin: 0;
                    }
                }
            }
        }
    }
    &.menu_footer {
        padding-left: rem(25px);
        .menu__list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .menu__item {
                flex-shrink: 0;
                margin-bottom: rem(10px);
                &:last-child {
                    margin-bottom: 0;
                }
                .menu__link {
                    &:after {
                        opacity: .4;
                        bottom: -2px;
                        height: 1.5px;
                    }
                }
            }
        }
        @include tablets {
            padding: 0;
            height: 100%;
            .menu__list {
                height: 100%;
                justify-content: space-between;
                .menu__item {
                    margin-bottom: 0;
                }
            }
        }
    }
}