.breadcrumbs
    ul.breadcrumbs__list 
        li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Главная
        li.breadcrumbs__item
            a.breadcrumbs__link(href='#') Каталог
        li.breadcrumbs__item.breadcrumbs__item_active
            a.breadcrumbs__link(href='#') Бытовая техника