.catalog
    ul.catalog__list
        li.catalog__item
            a.catalog__link(href='#') Автомобили
            ul.catalog__sublist
                li.catalog__subitem
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайники
        li.catalog__item.catalog__item_active
            a.catalog__link(href='#') Бытовая техника
            ul.catalog__sublist
                li.catalog__subitem.catalog__subitem_active
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайник
        li.catalog__item
            a.catalog__link(href='#') Мобильная техника
            ul.catalog__sublist
                li.catalog__subitem
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайники
        li.catalog__item
            a.catalog__link(href='#') Компьютеры
            ul.catalog__sublist
                li.catalog__subitem
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайники
        li.catalog__item
            a.catalog__link(href='#') Одежда
            ul.catalog__sublist
                li.catalog__subitem
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайники
        li.catalog__item
            a.catalog__link(href='#') Недвижимость
            ul.catalog__sublist
                li.catalog__subitem
                    a.catalog__sublink(href='#') Микроволновки
                li.catalog__subitem
                    a.catalog__sublink(href='#') Холодильники
                li.catalog__subitem
                    a.catalog__sublink(href='#') Посудомоечные маштны
                li.catalog__subitem
                    a.catalog__sublink(href='#') Чайники
    a.catalog__tab(href="#")
        img.catalog__tab-img(src="./assets/img/arrow.png", alt="")