.content
    .container.container_content        
        aside.content__left              
            include ../blocks/catalog
            .content__pricelist
                include ../blocks/pricelist
        .content__center    
            include ../blocks/products    
            include ../blocks/company
        
