.feedback
    .feedback__title Обратная связь
    form.feedback__form(action="")
        .feedback__row            
            input.feedback__input(type="text" placeholder='Имя')
        .feedback__row            
            input.feedback__input(type="text" placeholder='Электронная почта')
        .feedback__row            
            input.feedback__input(type="text" placeholder='Тема')
        .feedback__row            
            textarea.feedback__textarea(placeholder='Ваше сообщение')
        button.feedback__button(type='submit') Отправить
    a.feedback__cross(href="#")
        img.feedback__cross-pic(src="./assets/img/cross.png", alt="закрыть")

