footer.footer
  .container.container_footer
    ul.footer__list
      li.footer__item
        a.footer__logo(href="#")
          img.footer__img(src="./assets/img/DULUX.png", alt="dulux")
      li.footer__item
        a.footer__logo(href="#")
          img.footer__img(src="./assets/img/Sikkens.png", alt="Sikkens")
      li.footer__item
        a.footer__logo(href="#")
          img.footer__img(src="./assets/img/Pinotex.png", alt="Pinotex")
      li.footer__item
        a.footer__logo(href="#")
          img.footer__img(src="./assets/img/Marshall.png", alt="Marshall")
      li.footer__item
        a.footer__logo(href="#")
          img.footer__img(src="./assets/img/Hammerite.png", alt="Hammerite")
