footer.footer
    .container.container_footer
        .footer__col-left
            .footer__copyright © 2012–2016 ЗАО «Компания»
            a.footer__mail(href='mailto:info@name.ru') info@name.ru
        .footer__col-center
            +nav('menu','footer', pages, 1)
        .footer__col-right
            .footer__dev
                .footer__dev-logo
                    img.footer__dev-logo-img(src='./assets/img/dev-logo.png' alt='Лого')
                address.footer__dev-conacts                     
                    a.footer__dev-link(href="#") <span>Разработка сайта -</span><br>компания «Компания»