header.header
  .container.container_header
    a.header__logo(href="#")
      img.header__logo-img(src='./assets/img/logo.png' alt='Лого')
    .header__contacts
      ul.header__contacts-list
        li.header__contacts-item
          a.header__phones(href='tel:+74997777777') +7(499)777-77-77
        li.header__contacts-item
          a.header__phones(href='tel:+74997777777') +7(499)777-77-77
      a.header__feedback(href="#") Обратная связь
           
