.products
    ul.products__list
        li.products__item
            .products__img
                img.products__img-pic(src="./assets/img/product.png", alt="Фото")
            .products__desc Самый клевый чайник, который надо купить!
            .products__row
                .products__price 1 900 р.
                .products__basket
                    img.products__basket-pic(src="./assets/img/basket.png", alt="")
        li.products__item
            .products__img
                img.products__img-pic(src="./assets/img/product.png", alt="Фото")
            .products__desc Самый клевый чайник, который надо купить!
            .products__row
                .products__price 1 900 р.
                .products__basket
                    img.products__basket-pic(src="./assets/img/basket.png", alt="")
        li.products__item
            .products__img
                img.products__img-pic(src="./assets/img/product.png", alt="Фото")
            .products__desc Самый клевый чайник, который надо купить!
            .products__row
                .products__price 1 900 р.
                .products__basket
                    img.products__basket-pic(src="./assets/img/basket.png", alt="")
        li.products__item
            .products__img
                img.products__img-pic(src="./assets/img/product.png", alt="Фото")
            .products__desc Самый клевый чайник, который надо купить!
            .products__row
                .products__price 1 900 р.
                .products__basket
                    img.products__basket-pic(src="./assets/img/basket.png", alt="")
        li.products__item
            .products__img
                img.products__img-pic(src="./assets/img/product.png", alt="Фото")
            .products__desc Самый клевый чайник, который надо купить!
            .products__row
                .products__price 1 900 р.
                .products__basket
                    img.products__basket-pic(src="./assets/img/basket.png", alt="")    
    .products__pagination
        +pagination(7, 3)

