.slider
    .slider__wrap
        ul.slider__list
            li.slider__item
                img.slider__img(src="./assets/img/slide1.png")
            li.slider__item
                img.slider__img(src="./assets/img/slide2.png" alt='Фото')
        .container.container_slider
            a.slider__arrow.slider__arrow_left(href='#')
                img.slider__arrow-img(src="./assets/img/arrow-left.png" alt='Фото')
            a.slider__arrow.slider__arrow_right(href='#')
                img.slider__arrow-img(src="./assets/img/arrow-right.png" alt='Фото')