html,
body {
  width: 100%;
}

html {
  font-size: 16px;
  @include laptop {
    font-size: .9rem;
  }
  @include tablets {
    font-size: .85rem;
  }
  @include phones {
    font-size: .8rem;
  }
  @include mini {
    font-size: .7rem;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  color: $grey;
}

.body_block {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  position: relative;
  min-width: 240px;
  min-height: 100vh;
  background-color: #efefef;
}

.page {
  display: flex;
  flex-direction: column;
}

.page__header,
.page__footer {
  flex: 0;
  width: 100%;
}

.page__main {
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
}

.container {
  width: 95%;
  max-width: rem(980px);
  display: flex;
  margin: 0 auto;
  &.container_header {
    align-items: center;
    justify-content: space-between;
    @include phones {
      flex-direction: column;
      justify-content: center;
    }
  }
  &.container_slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &.container_content {
    justify-content: space-between;
  }
  &.container_footer {
    @include tablets {
      flex-direction: column;
      height: 100px;
      flex-wrap: wrap;
    }
  }
}

.content {
  width: 100%;
  background-color: #fff;
  position: relative;
}

.content__left {
  position: relative;
  width: 20%;
  flex-shrink: 0;
  padding-right: 20px;
  position: relative;
  @include tablets {
    width: 30%;
  }
  @include phones {
    transition: .5s;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    width: 50%;
    margin: 0;
    left: -50%; // background-color: $greenlight;
    max-width: none;
    padding: 0; // border-top-right-radius: 20px;
    // border-bottom-right-radius: 20px;
    // box-shadow: rgba(0, 0, 0, .6) 2px 0 5px 2px;
  }
  &.content__left_active {
    @include phones {
      transition: .5s;
      right: 50%;
      width: 50%;
      left: 0;
    }
  }
}


.content__center {
  width: 80%;
  flex-shrink: 0;
  @include tablets {
    width: 70%;
  }
  @include phones {
    width: 100%;
  }
}

.content__pricelist {
  position: absolute;
  left: 50%;
  top: rem(380px);
  transform: translateX(-60%)
}